@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

:root {
  --font-primary: "Share Tech Mono", sans-serif;
  --font-display: "Share Tech Mono", sans-serif;
  --font-headline: "Share Tech Mono", sans-serif;
  --font-code: monospace;
}

*, ::placeholder, body, button, input, select, textarea {
  font-family: "Share Tech Mono", sans-serif !important;
  font-size: 24px;
} 